{% load static tailwind_tags %}
{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main | RealEST</title>
    {% tailwind_css %}
    {% include "navbar.html" %}
</head>
<body class="bg-gradient-to-r from-neutral-300 to-stone-400">
    {% for vals in property %}
        <a href="{% url "Property Details" id=vals.id %}">
            <div class="bg-seven m-4 px-4 grid grid-cols-8 grid-flow-col text-one rounded-lg hover:bg-eight">
                <img src="{{vals.image.url}}" alt="" class="col-span-1 lg:w-40 lg:h-40 w-28 h-28 m-auto">
                <div class="m-5 col-span-6">
                    <div class="text-2xl lg:text-3xl">{{vals.name}}</div>
                    <div class="text-sm lg:text-lg">{{vals.location}}</div>
                    <div class="my-2 text-sm">{{vals.description | slice:":500"}}...</div>
                    <div class="flex-wrap">
                        <button class="bg-white p-3 rounded-3xl text-nine mt-4 text-sm">
                            Price : {{vals.price | intword }} INR
                        </button>
                        <button class="bg-white p-3 rounded-3xl text-nine mt-4 text-sm">
                            Square Footage : {{vals.square_foot}}.ft
                        </button>
                        <button class="bg-white p-3 rounded-3xl text-nine mt-4 text-sm">
                            TYPE : {{vals.bhk}} BHK
                        </button>
                    </div>
                </div>
                <div class="col-span-2 flex flex-col justify-center">
                        {% if vals.open %}
                            <button class="bg-white px-8 py-4 rounded-3xl text-red-800 hover:bg-red-500 hover:text-white">
                                BUY
                            </button>
                         {% else %}
                         <button class="bg-red-500 px-8 py-4 rounded-3xl text-white">
                            SOLD
                         </button>
                        {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}
    
</body>
</html>