{% extends "base.html" %}

{% block main_title %}
    Register Page
{% endblock %}

{% block main_content %}
<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="w-8 h-8 mr-2" src="/media/icon.png" alt="logo">
            Places.INC    
        </a>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700 text-sm">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8 -space-x-2">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white p-4">
                    Register Here
                </h1>
                <!-- 
                
                FORM
                
                -->
                <form method="POST" class="space-y-4 md:space-y-4">
                    {% csrf_token %}
                    <div class="flex">
                        <div>
                        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
                        <div>{{form.first_name}}</div>
                        </div>
                        <div>
                        <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                        <div class="pl-2">{{form.last_name}}</div>
                        </div>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email Address</label>
                        {{form.email}}
                    </div>
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                        {{form.username}}
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        {{form.password}}
                    </div>
                    {% comment %} <div class="flex items-center justify-between">
                        <div class="flex items-start">
                            {% if messages %}
                                {% for message in messages %}
                                        <div class="alert alert-danger">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div> {% endcomment %}
                    <button type="submit" class="bg-blue-600 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm mx-auto py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Register</button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Have An Account? <a href="{% url "Login-Page" %}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login Here..</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
  </section>
{% endblock %}